<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>

  <connectionStrings>
    <add name="conexion_Marco" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=M:\Admiclub.mde;Jet OLEDB:System Database=M:\Metaclub.mdw;User ID=Lead&amp;Soft;Password=Negro Azabache;"/>
    <add name="conexion_2003" connectionString="OjurOSXOj5Yz6OOPBil2Xz73+qaez1txEqy/ovc7Du7SFKVRvrw4FfI0gNILU7xhATO1iWLmYliOoR/FSX/ISEpPpafhxNlo3dkgm2XOCi3NWrsTQb60177ugrbHiFNmf1itQuc2V1JUMpx6lQIdA16ObeAAdg01dLXwgXAZCrG7zWkvGhJm4Olow2s/unrc0DxmnD0QiQU="/>
    <add name="conexion" connectionString="OjurOSXOj5Yz6OOPBil2X90DuigxWUwrWfw+Hzf6RRgD2n8iDxXwdRBAU6ryDafvaWReRUUIAGkYzTRfpBDCnWcGqiSwMcJzyKJKwYaa5jlEeDgABUqqsNbZcQpDwzgFj2A2vBV5F0i4ZBEPzc61Mc+mrEvxSl0X"/>
    
  </connectionStrings>
  
  
</configuration>
